.booking-page{
  padding:40px;
  text-align:center;
}

.booking-table{
  width:80%;
  margin:auto;
  border-collapse:collapse;
  font-size:14px;
}

.booking-table th{
  background:#111;
  color:white;
  padding:10px;
}

.booking-table td{
  border:1px solid #ddd;
  padding:8px;
}

.event-img{
  width:60px;
  height:60px;
  object-fit:cover;
  border-radius:6px;
}

.delete-btn{
  background:red;
  color:white;
  border:none;
  padding:6px 12px;
  border-radius:5px;
  cursor:pointer;
}

.delete-btn:hover{
  background:#c40000;
}