/* PAGE */
.event-page{
  padding:60px 10%;
  background:#f4f6f9;
  max-width:1200px;
  margin:auto;
  min-height:100vh;
}

/* TITLE */
.event-page h2{
  text-align:center;
  font-size:34px;
  margin-bottom:40px;
  font-weight:700;
  color:#111;
}

/* GRID */
.event-grid{
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  gap:28px;
  align-items:start;
}

/* CARD */
.event-card{
  background:#fff;
  border-radius:16px;
  overflow:hidden;
  box-shadow:0 6px 20px rgba(0,0,0,0.08);
  transition:0.3s;
  cursor:pointer;
  width:100%;
  padding:0;
}

/* HOVER */
.event-card:hover{
  transform:translateY(-6px);
  box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

/* IMAGE */
.event-card img{
  width:100%;
  height:240px;
  object-fit:cover;
  display:block;
}

/* EVENT BODY */
.event-card-body{
  padding:18px;
  text-align:center;
}

/* CATEGORY BODY */
.category-card-body{
  padding:18px;
  text-align:center;
}

/* CATEGORY TITLE */
.category-card-body h3{
  margin:0;
  font-size:22px;
  font-weight:700;
  text-transform:capitalize;
  color:#111;
}

/* EVENT TITLE */
.event-card-body h3{
  margin:8px 0;
  font-size:22px;
  font-weight:700;
  text-transform:capitalize;
  color:#111;
}

/* TEXT */
.event-card-body p{
  margin:6px 0;
  font-size:14px;
  color:#666;
}

/* PRICE */
.event-card-body .price{
  font-size:16px;
  font-weight:700;
  color:#e63946;
}

/* INPUT */
.price-input{
  width:100%;
  padding:10px;
  margin:12px 0;
  border-radius:8px;
  border:1px solid #ccc;
  outline:none;
  font-size:14px;
}

/* BUTTON */
.book-btn{
  margin-top:10px;
  width:100%;
  padding:12px;
  border:none;
  border-radius:8px;
  background:linear-gradient(135deg,#ff416c,#ff4b2b);
  color:#fff;
  font-weight:600;
  font-size:14px;
  cursor:pointer;
  transition:0.3s;
}

.book-btn:hover{
  opacity:0.95;
  transform:scale(1.02);
}

/* CLOSED BADGE */
.closed-badge{
  display:inline-block;
  background:linear-gradient(45deg,#ff0000,#cc0000);
  color:white;
  padding:6px 14px;
  border-radius:20px;
  font-size:12px;
  margin-top:8px;
  margin-bottom:10px;
  font-weight:bold;
}

/* BACK BUTTON */
.back-btn{
  padding:10px 18px;
  border:none;
  border-radius:8px;
  background:#111;
  color:#fff;
  cursor:pointer;
  margin-bottom:25px;
  transition:0.3s;
}

.back-btn:hover{
  background:#333;
}

/* TABLET */
@media (max-width:900px){

  .event-grid{
    grid-template-columns:repeat(2,1fr);
  }

  .event-card img{
    height:220px;
  }
}

/* MOBILE */
@media (max-width:600px){

  .event-page{
    padding:40px 20px;
  }

  .event-grid{
    grid-template-columns:1fr;
  }

  .event-card img{
    height:220px;
  }

  .event-page h2{
    font-size:28px;
  }
}