.seat-wrapper{
text-align:center;
margin-top:20px;
}

.seat-container{
display:grid;
grid-template-columns:repeat(5,70px);
gap:12px;
justify-content:center;
margin-top:20px;
}

.seat{
width:70px;
height:70px;
display:flex;
align-items:center;
justify-content:center;
border-radius:8px;
background:#22c55e;
color:white;
font-weight:bold;
cursor:pointer;
transition:0.3s;
}

.seat:hover{
transform:scale(1.05);
}

.seat.selected{
background:#3b82f6;
}

.seat.booked{
background:#ef4444;
cursor:not-allowed;
}